In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ADMIN\OneDrive\miniproject\model_dataset.csv")

In [2]:
df.describe()

,AGGR\nMARK,RANK,COMMUNI\nTY,COLLEGE\nCODE,BRANCH\nCODE,ALLOTTED\nCATEGORY
count,14475,14475,14475,14475,14475,14475
unique,454,14206,8,249,86,8
top,179.5,RANK,BC,1,CS,OC
freq,418,270,8773,839,3669,7426

In [3]:
df=df.drop(columns=['ALLOTTED\nCATEGORY'])
df=df.drop(columns=['RANK'])

In [4]:
df.describe()

       AGGR\nMARK COMMUNI\nTY COLLEGE\nCODE BRANCH\nCODE
count       14475       14475         14475        14475
unique        454           8           249           86
top         179.5          BC             1           CS
freq          418        8773           839         3669

In [8]:
df=df.dropna()
df['COMMUNI\nTY'].unique()

array(['BC', 'BCM', 'MBC', 'OC', 'SC', 'SCA', 'COMMUNI\nTY', 'ST'],
      dtype=object)

In [10]:
word_to_delete = 'COMMUNI\nTY'
df['COMMUNI\nTY'] = df['COMMUNI\nTY'].str.replace(word_to_delete, '')
df['COMMUNI\nTY'].unique()

array(['BC', 'BCM', 'MBC', 'OC', 'SC', 'SCA', '', 'ST'], dtype=object)

In [12]:
df.replace('', pd.NA, inplace=True)
df['COMMUNI\nTY'].unique()

array(['BC', 'BCM', 'MBC', 'OC', 'SC', 'SCA', <NA>, 'ST'], dtype=object)

In [15]:
df=df.dropna()
df['COMMUNI\nTY'].unique()

array(['BC', 'BCM', 'MBC', 'OC', 'SC', 'SCA', 'ST'], dtype=object)

In [18]:
df['COLLEGE\nCODE'].unique()

array(['1', '1315', '2006', '5008', '4', '2', '2731', '1399', '2653',
       '4962', '2708', '2377', '2007', '2710', '5022', '2712', '1414',
       '2764', '2005', '5012', '1504', '2650', '2615', '2618', '2630',
       '3701', '3805', '1450', '1219', '2711', '4974', '1211', '1405',
       '5910', '2751', '2718', '1216', '1309', '1432', '2702', '2025',
       '1113', '5907', '2739', '1398', '1419', '1324', '5912', '4960',
       '5', '1317', '4971', '5986', '4686', '1311', '4980', '3011',
       '2740', '2302', '4955', '2704', '5901', '2715', '1422', '2707',
       '3016', '1412', '1210', '4023', '2656', '4864', '1516', '2607',
       '4959', '4981', '5530', '2345', '2722', '2736', '2643', '2613',
       '3826', '2609', '2706', '3819', '2621', '2608', '2721', '1026',
       '1411', '5009', '2727', '3465', '4972', '4678', '1013', '2709',
       '4917', '5842', '2603', '2329', '1304', '2723', '1116', '4944',
       '3', '4020', '2601', '1408', '3830', '4680', '1137', '3464',
       '1434', '3825', '5010', '1014', '2646', '2734', '2726', '2622',
       '1303', '2719', '3807', '3806', '2661', '1112', '2750', '5919',
       '1122', '1322', '4670', '4933', '5865', '3786', '1120', '1149',
       '1316', '3019', '4672', '4954', '1409', '3801', '1306', '3425',
       '2745', '2620', '2776', '3843', '1118', '1321', '1140', '2735',
       '3454', '5862', '4984', '1310', '2328', '1430', '5536', '1225',
       '1121', '2743', '4949', '2725', '1110', '4969', '1442', '5921',
       '1128', '1605', '2611', '3852', '4994', '5904', '3795', '2762',
       '4928', '1237', '5703', '2737', '2343', '1114', '3829', '1520',
       '3466', '2639', '1307', '2624', '2369', '5942', '3850', '4931',
       '2636', '4966', '1424', '2683', '4983', '2729', '2752', '2716',
       '1401', '2713', '4996', '2634', '3812', '2741', '3804', '2651',
       '2610', '5914', '5017', '3803', '4669', '3920', '1126', '5502',
       '2632', '1101', '2761', '4964', '1207', '3918', '2673', '4957',
       '1501', '2354', '1217', '1202', '1226', '2623', '4965', '2347',
       '1228', '3456', '3817', '2367', '1423', '4946', '2617', '1507',
       '3021', '1431', '2758', '2633', '4676', '1509', '2625'],
      dtype=object)

In [20]:
df['BRANCH\nCODE'].unique()

array(['CS', 'EC', 'CM', 'ME', 'EE', 'IT', 'IM', 'AT', 'RA', 'CH', 'EM',
       'AD', 'AL', 'CG', 'CE', 'AE', 'BY', 'EI', 'CJ', 'CC', 'GI', 'IB',
       'IY', 'IE', 'AM', 'EA', 'SC', 'CW', 'CB', 'ES', 'BS', 'AO', 'MG',
       'BT', 'FS', 'AU', 'FY', 'BM', 'XM', 'EY', 'PR', 'MI', 'AG', 'MN',
       'AS', 'CL', 'CF', 'PM', 'PP', 'CD', 'XC', 'TX', 'MF', 'MA', 'EV',
       'PT', 'BP', 'CO', 'MT', 'CI', 'MZ', 'CY', 'FT', 'MS', 'CN', 'RP',
       'FD', 'IC', 'IS', 'MU', 'RM', 'ET', 'CR', 'HT', 'PN', 'MY', 'SE',
       'CT', 'PA', 'AP', 'LE', 'TS', 'TT', 'MD', 'SB'], dtype=object)

In [21]:
df['AGGR\nMARK'].unique()

array(['200', '199.667', '199.5', '199.333', '199', '198.667', '198.5',
       '198.333', '198', '197.75', '197.667', '197.5', '197.495',
       '197.333', '197', '196.975', '196.75', '196.667', '196.5',
       '196.49', '196.46', '196.333', '196.275', '196.25', '196',
       '195.98', '195.667', '195.54', '195.5', '195.48', '195.46',
       '195.42', '195.333', '195.32', '195.295', '195', '194.667',
       '194.5', '194.46', '194.405', '194.333', '194.315', '194.3',
       '194.23', '194', '193.8', '193.667', '193.5', '193.49', '193.475',
       '193.333', '193.26', '193.24', '193', '192.975', '192.75',
       '192.667', '192.5', '192.475', '192.46', '192.449', '192.365',
       '192.35', '192.333', '192.265', '192.25', '192.24', '192.175',
       '192.15', '192.075', '192.03', '192', '191.97', '191.845',
       '191.76', '191.667', '191.5', '191.36', '191.333', '191.33',
       '191.265', '191.21', '191.18', '191.14', '191', '190.99', '190.97',
       '190.949', '190.939', '190.934', '190.835', '190.75', '190.67',
       '190.667', '190.64', '190.5', '190.44', '190.405', '190.155',
       '190.1', '190.075', '190.06', '190.02', '190', '189.965',
       '189.929', '189.905', '189.9', '189.875', '189.855', '189.67',
       '189.667', '189.645', '189.525', '189.5', '189.475', '189.455',
       '189.3', '189.185', '189.12', '189.09', '189.035', '189',
       '188.955', '188.949', '188.91', '188.845', '188.715', '188.667',
       '188.635', '188.625', '188.53', '188.525', '188.5', '188.485',
       '188.46', '188.395', '188.37', '188.355', '188.333', '188.15',
       '188.045', '188.035', '188', '187.99', '187.934', '187.93',
       '187.929', '187.92', '187.89', '187.76', '187.75', '187.705',
       '187.667', '187.65', '187.615', '187.605', '187.58', '187.52',
       '187.51', '187.5', '187.46', '187.43', '187.395', '187.35',
       '187.34', '187.333', '187.25', '187.21', '187.135', '187.025',
       '187.01', '187', '186.935', '186.919', '186.91', '186.885',
       '186.86', '186.82', '186.81', '186.79', '186.715', '186.645',
       '186.605', '186.6', '186.585', '186.525', '186.5', '186.495',
       '186.48', '186.45', '186.405', '186.39', '186.385', '186.35',
       '186.33', '186.325', '186.285', '186.175', '186.055', '186.045',
       '186.035', '186', '185.955', '185.935', '185.91', '185.89',
       '185.86', '185.855', '185.75', '185.68', '185.667', '185.5',
       '185.495', '185.475', '185.449', '185.425', '185.419', '185.32',
       '185.295', '185.23', '185.205', '185.13', '185.1', '185.085',
       '185.055', '185.045', '185', '184.935', '184.92', '184.91',
       '184.89', '184.855', '184.815', '184.76', '184.735', '184.69',
       '184.667', '184.615', '184.545', '184.505', '184.5', '184.475',
       '184.42', '184.385', '184.38', '184.36', '184.333', '184.315',
       '184.305', '184.27', '184.215', '184.205', '184.185', '184.155',
       '184.135', '184.12', '184.065', '184.04', '184.03', '184.01',
       '184', '183.965', '183.955', '183.949', '183.929', '183.925',
       '183.865', '183.86', '183.805', '183.76', '183.755', '183.715',
       '183.695', '183.68', '183.667', '183.665', '183.635', '183.54',
       '183.52', '183.5', '183.49', '183.47', '183.42', '183.395',
       '183.333', '183.305', '183.285', '183.25', '183.14', '183.1',
       '183.065', '183.055', '183.03', '183', '182.98', '182.965',
       '182.909', '182.89', '182.865', '182.81', '182.745', '182.615',
       '182.535', '182.525', '182.505', '182.5', '182.44', '182.35',
       '182.33', '182.31', '182.24', '182.15', '182.13', '182.11',
       '182.095', '182', '181.985', '181.975', '181.955', '181.9',
       '181.89', '181.825', '181.8', '181.78', '181.755', '181.7',
       '181.667', '181.635', '181.605', '181.53', '181.525', '181.5',
       '181.434', '181.333', '181.33', '181.32', '181.285', '181.265',
       '181.25', '181.22', '181.205', '181.155', '181.12', '181.08',
       '181.045', '181.035', '181', '180.91', '180.904', '180.9',
       '180.845', '180.835', '180.79', '180.78', '180.667', '180.635',
       '180.605', '180.53', '180.5', '180.495', '180.43', '180.369',
       '180.35', '180.32', '180.22', '180.195', '180.1', '180.095',
       '180.065', '180.01', '180', '179.92', '179.89', '179.869',
       '179.845', '179.83', '179.81', '179.78', '179.745', '179.585',
       '179.54', '179.5', '179.475', '179.47', '179.405', '179.395',
       '179.333', '179.27', '179.265', '179.185', '179.15', '179.13',
       '179.08', '179.075', '179', '178.975', '178.904', '178.9',
       '178.875', '178.86', '178.845', '178.81', '178.77', '178.725',
       '178.715', '178.65', '178.635', '178.61', '178.6', '178.545',
       '178.53', '178.5', '178.49', '178.485', '178.455', '178.44',
       '178.43', '178.333', '178.32', '178.26', '178.25', '178.22',
       '178.155', '178.13', '178.1', '178.065', '178.02', '178', '177.98',
       '177.935', '177.904', '177.835', '177.82', '177.795', '177.615',
       '177.585', '177.565', '177.535', '177.5', '177.47', '177.439',
       '177.415', '177.35', '177.32', '177.27', '177.25', '177.24',
       '177.13', '177.065', '177.04', '177.01', '177'], dtype=object)

In [22]:
from sklearn.preprocessing import LabelEncoder

In [54]:
le = LabelEncoder()
df['COMMUNI\nTY'] = le.fit_transform(df['COMMUNI\nTY'])
community_encoder = le

In [24]:
df.head()

  AGGR\nMARK  COMMUNI\nTY COLLEGE\nCODE BRANCH\nCODE
0        200            0             1           CS
1        200            0             1           CS
2        200            1             1           CS
3        200            0             1           CS
4        200            0             1           CS

In [25]:
X = df[['AGGR\nMARK', 'COMMUNI\nTY']]
y = df[['COLLEGE\nCODE', 'BRANCH\nCODE']]

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

In [30]:
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [35]:
from sklearn.metrics import accuracy_score

# Compute accuracy for 'COLLEGE CODE'
accuracy_college_code = accuracy_score(y_test['COLLEGE\nCODE'], y_pred[:, 0])

# Compute accuracy for 'BRANCH CODE'
accuracy_branch_code = accuracy_score(y_test['BRANCH\nCODE'], y_pred[:, 1])

print("Accuracy for College Code:", accuracy_college_code)
print("Accuracy for Branch Code:", accuracy_branch_code)

Accuracy for College Code: 0.11122844068989793
Accuracy for Branch Code: 0.2541358676522351

In [60]:
y_pred = rf_classifier.predict(X_test)

In [58]:
y_pred

array([['2722', 'CS'],
       ['5008', 'CS'],
       ['2722', 'CS'],
       ...,
       ['1399', 'CS'],
       ['1399', 'CS'],
       ['1315', 'CS']], dtype=object)

In [62]:
# Example of printing the input features (X) and predicted output (y_pred) for the first data point in the test set
# Assuming X_test contains the input features and y_pred contains the predicted output for the test data

# Selecting the first data point from X_test and the corresponding predicted output from y_pred
single_data_point_X = X_test.iloc[0]
single_data_point_y_pred = y_pred[0]

print("Input Features (X):")
print(single_data_point_X)

print("\nPredicted Output (y_pred):")
print(single_data_point_y_pred)

Input Features (X):
AGGR\nMARK     177
COMMUNI\nTY      0
Name: 14361, dtype: object

Predicted Output (y_pred):
['2722' 'CS']